@*@model List<SortingAlgorithms.Models.Algorithm>*@
@*@model SortingAlgorithms.Models.Algorithm*@
@model SortingAlgorithms.Models.SortModel



@{
    ViewData["Title"] = "Sorting Algorithm";
}
<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_SortSelector", Model)
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="panel panel-success">
                <div class="panel-heading">Results of the @Model.SortType</div>
                <div class="panel-body">
                    <div style="display: block; float: right; text-align: left; width: 50%;">
                        <p><b>Additional Details</b></p>
                        @*@foreach (var item in Model)
                        {

                            @Html.DisplayFor(modelItem => item.AlgorithmName)

                            @Html.DisplayFor(modelItem => item.AlgorithmID)

                            @Html.DisplayFor(modelItem => item.RunTime)
                        }*@

                        @*<p>@ViewBag.AlgoName</p>*@
                        @*@{var algoName = from a in Model.AlgorithmName select a.AlgorithmName;}*@
                        @*@{var a = Model.Where(x => x.AlgorithmName.Equals("Bubble Sort")); }*@
                        @*<b>@Model.Select(x => x.AlgorithmID == 1)</b>*@

                    </div>
                    <dl>
                        <dt>Before Sorting</dt>
                        <dd>@Model.OriginalNumbers</dd>
                        <dd>&nbsp;</dd>
                        <dt>After Sorting</dt>
                        <dd>@Model.SortedNumbers</dd>
                        <dd>&nbsp;</dd>
                        <dt>Below is every step of the sort:</dt>
                        <dd>@Html.Raw(ViewBag.EachIteration.Replace(System.Environment.NewLine, "<br/>"))</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
