@*@model List<SortingAlgorithms.Models.Algorithm>*@
@*@model SortingAlgorithms.Models.Algorithm*@
@model SortingAlgorithms.Models.SortModel



@{
    ViewData["Title"] = "Sorting Algorithm";
}
<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_SortSelector", Model)
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">Completed a @Model.SortType</div>
                <div class="panel-body">
                    <dl style="display: block; float: right; text-align: left; width: 50%;">
                        <h3>Additional Details</h3>
                        @foreach (var item in Model.Algorithms)
        {
                <dt>Algorithm Name:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.AlgorithmName)
                </dd>
                <dd>&nbsp;</dd>
                <dt>Runtime complexity:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.RunTime)
                </dd>
                <dd>&nbsp;</dd>
                <dt>Space complexity:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.SpaceComplexity)
                </dd>
                <dd>&nbsp;</dd>
                <dt>Additional Notes:</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.AdditionalNotes)
                </dd>
}



                    </dl>
                    <h3>Results</h3>
                    <dl>
                        <dt>Before Sorting</dt>
                        <dd>@Model.OriginalNumbers</dd>
                        <dd>&nbsp;</dd>
                        <dt>After Sorting</dt>
                        <dd>@Model.SortedNumbers</dd>
                        <dd>&nbsp;</dd>
                        <dt>Breakdown of the Sort:</dt>
                        <dd>@Html.Raw(ViewBag.EachIteration.Replace(System.Environment.NewLine, "<br/>"))</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
